*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Roboto", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 12vh min-content min-content  min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2 {
  font-family: "Josefin Sans", sans-serif;
  color: black; }

.heading-1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1; }

.heading-2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1; }

.college-1, .college-3, .college-2, .college-4 {
  font-size: 2rem; }

.college-1, .college-3 {
  color: black; }

.college-2, .college-4 {
  color: red;
  font-style: italic; }

.navigation__menu {
  color: black;
  font-size: 2rem;
  font-weight: 500; }

.engineer__faculty-name {
  font-weight: 700;
  color: black;
  font-size: 1.6rem; }

.btn {
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    color: 0; }

.divider {
  height: 1px;
  grid-column: full-start/full-end;
  grid-row: 2/3;
  background-color: #dfdcdb; }

a {
  text-decoration: none; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 5rem; }

.navigation {
  grid-column: center-start/ center-end;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1rem;
  align-items: center; }
  .navigation__logo {
    height: 4.8rem; }
    .navigation__logo-text {
      display: inline-block;
      color: black;
      font-size: 2.2rem;
      grid-column: 2/span 3;
      margin-left: -8rem; }

.descriptions {
  grid-column: center-start/ center-end;
  grid-row: 2/3;
  grid-column: 2/8;
  display: grid;
  grid-template-rows: repeat(3, minmax(max-content, 1fr));
  row-gap: 1rem;
  align-items: center; }

.engineer {
  grid-row: 3/4;
  grid-column: center-start/ center-end;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(4, 5vw) 1.5vw repeat(3, 5vw) 1.5vw 3.5vw repeat(3, 5vw) 1.5vw 3.5vw repeat(3, 5vw) 1.5vw 3.5vw repeat(3, 5vw) 1.5vw repeat(3, 5vw) 1.5vw 3.5vw repeat(3, 5vw) 1.5vw 3.5vw repeat(3, 5vw) 1.5vw repeat(3, 5vw) 1.5vw 3.5vw repeat(3, 5vw) 1.5vw repeat(3, 5vw) 1.5vw 3.5vw repeat(3, 5vw) 1.5vw repeat(3, 5vw) 1.5vw repeat(4, 5vw) 1.5vw 3.5vw repeat(3, 5vw) 1.5vw 3.5vw repeat(3, 5vw) 1.5vw repeat(4, 5vw) 1.5vw repeat(3, 5vw) 1.5vw repeat(4, 5vw) 1.5vw; }
  .engineer__gallery__item-1 {
    grid-column: 1/4;
    grid-row: 2/5; }
  .engineer__gallery__item-2 {
    grid-column: 5/span 3;
    grid-row: 2/5; }
  .engineer__gallery__item-3 {
    grid-column: 9/span 3;
    grid-row: 2/5; }
  .engineer__gallery__item-4 {
    grid-column: 13/span 3;
    grid-row: 2/5; }
  .engineer__gallery__item-5 {
    grid-column: 1/4;
    grid-row: 6/9; }
  .engineer__gallery__item-6 {
    grid-column: 5/span 3;
    grid-row: 6/9; }
  .engineer__gallery__item-7 {
    grid-column: 9/span 3;
    grid-row: 6/9; }
  .engineer__gallery__item-8 {
    grid-column: 13/span 3;
    grid-row: 6/9; }
  .engineer__gallery__item-9 {
    grid-column: 1/4;
    grid-row: 11/14; }
  .engineer__gallery__item-10 {
    grid-column: 5/span 3;
    grid-row: 11/14; }
  .engineer__gallery__item-11 {
    grid-column: 9/span 3;
    grid-row: 11/14; }
  .engineer__gallery__item-12 {
    grid-column: 1/span 3;
    grid-row: 16/span 3; }
  .engineer__gallery__item-13 {
    grid-row: 21/ span 3;
    grid-column: 1/4; }
  .engineer__gallery__item-14 {
    grid-row: 21/ span 3;
    grid-column: 5/span 3; }
  .engineer__gallery__item-15 {
    grid-row: 21/ span 3;
    grid-column: 9/span 3; }
  .engineer__gallery__item-16 {
    grid-row: 21/ span 3;
    grid-column: 13/span 3; }
  .engineer__gallery__item-17 {
    grid-row: 25/ span 3;
    grid-column: 1/4; }
  .engineer__gallery__item-18 {
    grid-row: 30/ span 3;
    grid-column: 1/4; }
  .engineer__gallery__item-19 {
    grid-row: 30/ span 3;
    grid-column: 5/span 3; }
  .engineer__gallery__item-20 {
    grid-row: 35/ span 3;
    grid-column: 1/ span 3; }
  .engineer__gallery__item-21 {
    grid-row: 35/ span 3;
    grid-column: 5/ span 3; }
  .engineer__gallery__item-22 {
    grid-row: 35/ span 3;
    grid-column: 9/ span 3; }
  .engineer__gallery__item-23 {
    grid-row: 35/ span 3;
    grid-column: 13/ span 3; }
  .engineer__gallery__item-24 {
    grid-row: 39/ span 3;
    grid-column: 1/ span 3; }
  .engineer__gallery__item-25 {
    grid-row: 39/ span 3;
    grid-column: 5/ span 3; }
  .engineer__gallery__item-26 {
    grid-row: 39/ span 3;
    grid-column: 9/ span 3; }
  .engineer__gallery__item-27 {
    grid-row: 44/ span 3;
    grid-column: 1/ span 3; }
  .engineer__gallery__item-28 {
    grid-row: 44/ span 3;
    grid-column: 5/ span 3; }
  .engineer__gallery__item-29 {
    grid-row: 44/ span 3;
    grid-column: 9/ span 3; }
  .engineer__gallery__item-30 {
    grid-row: 44/ span 3;
    grid-column: 13/ span 3; }
  .engineer__gallery__item-31 {
    grid-row: 48/ span 3;
    grid-column: 1/ span 3; }
  .engineer__gallery__item-32 {
    grid-row: 53/ span 3;
    grid-column: 1/ span 3; }
  .engineer__gallery__item-33 {
    grid-row: 53/ span 3;
    grid-column: 5/ span 3; }
  .engineer__gallery__item-34 {
    grid-row: 53/ span 3;
    grid-column: 9/ span 3; }
  .engineer__gallery__item-35 {
    grid-row: 53/ span 3;
    grid-column: 13/ span 3; }
  .engineer__gallery__item-36 {
    grid-row: 57/ span 3;
    grid-column: 1/ span 3; }
  .engineer__gallery__item-37 {
    grid-row: 57/ span 3;
    grid-column: 5/ span 3; }
  .engineer__gallery__item-38 {
    grid-row: 57/ span 3;
    grid-column: 9/ span 3; }
  .engineer__gallery__item-39 {
    grid-row: 62/span 3;
    grid-column: 1/ span 3; }
  .engineer__gallery__item-40 {
    grid-row: 67/ span 3;
    grid-column: 1/ span 3; }
  .engineer__gallery__item-41 {
    grid-row: 72/ span 3;
    grid-column: 1/ span 3; }
  .engineer__gallery__item-42 {
    grid-row: 77/ span 3;
    grid-column: 1/ span 3; }
  .engineer__gallery__item-43 {
    grid-row: 77/ span 3;
    grid-column: 5/ span 3; }
  .engineer__gallery__item-44 {
    grid-row: 77/ span 3;
    grid-column: 9/ span 3; }
  .engineer__gallery__item-45 {
    grid-row: 77/ span 3;
    grid-column: 13/ span 3; }
  .engineer__gallery__item-46 {
    grid-row: 81/ span 3;
    grid-column: 1/ span 3; }
  .engineer__gallery__item-47 {
    grid-row: 86/ span 3;
    grid-column: 1/ span 3; }
  .engineer__gallery__item-48 {
    grid-row: 86/ span 3;
    grid-column: 5/span 3; }
  .engineer__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .engineer__faculty-name {
    margin: 0 3rem; }

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 4rem;
  margin-top: 2rem; }

.copyright {
  font-size: 1.4rem;
  text-align: center;
  color: #aaa;
  margin-top: 6rem; }
