.cla{
    grid-row:6/7;
    grid-column:center-start/ center-end;
    display:grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(4,5vw) 1.5vw repeat(4,5vw) 1.5vw;
    &__gallery__item{
            &-1{
                grid-column: 1/4;
                grid-row: 2/5;
            }
            &-2{
                grid-column: 5/span 3;
                grid-row: 2/5; 
            }
            &-3{
                grid-column: 9/span 3;
                grid-row: 2/5;
            }
            &-4{
                grid-column: 1/4;
                grid-row: 7/span 3;
            }
    }
}