.engineer{
    grid-row:3/4;
    grid-column:center-start/ center-end;
    margin-top:2rem;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(4,5vw) 1.5vw repeat(3,5vw) 1.5vw  3.5vw repeat(3,5vw) 1.5vw 3.5vw repeat(3,5vw) 1.5vw 3.5vw repeat(3,5vw) 1.5vw repeat(3,5vw) 1.5vw 3.5vw repeat(3,5vw) 1.5vw 3.5vw repeat(3,5vw) 1.5vw repeat(3,5vw) 1.5vw 3.5vw repeat(3,5vw) 1.5vw repeat(3,5vw) 1.5vw 3.5vw repeat(3,5vw) 1.5vw repeat(3,5vw) 1.5vw repeat(4,5vw) 1.5vw  3.5vw repeat(3,5vw) 1.5vw 3.5vw repeat(3,5vw) 1.5vw;
    &__gallery__item{
        &-1{
            grid-column: 1/4;
            grid-row: 2/5;
        }
        &-2{
            grid-column: 5/span 3;
            grid-row: 2/5; 
        }
        &-3{
            grid-column: 9/span 3;
            grid-row: 2/5;
        }
        &-4{
            grid-column: 13/span 3;
            grid-row: 2/5;
        }
        &-5{
            grid-column: 1/4;
            grid-row: 6/9;
        }
        &-6{
            grid-column: 5/span 3;
            grid-row: 6/9;
        }
        &-7{
            grid-column: 9/span 3;
            grid-row: 6/9;
        }
        &-8{
            grid-column: 13/span 3;
            grid-row: 6/9;
        }

        &-9{
            grid-column: 1/4;
            grid-row: 11/14;
        }
        &-10{
            grid-column: 5/span 3;
            grid-row: 11/14;
        }
        &-11{
            grid-column: 9/span 3;
            grid-row: 11/14;
        }
        &-12{
            grid-column: 1/span 3;
            grid-row: 16/span 3;
        }
        &-13{
            grid-row: 21/ span 3;
            grid-column: 1/4;
        }
        &-14{
            grid-row: 21/ span 3; 
            grid-column: 5/span 3;
        }
        &-15{
            grid-row: 21/ span 3;
            grid-column: 9/span 3;
        }
        &-16{
            grid-row: 21/ span 3;
            grid-column: 13/span 3;
        }
        &-17{
            grid-row: 25/ span 3;
            grid-column: 1/4;
        }
        &-18{
            grid-row: 30/ span 3;
            grid-column: 1/4;
        }
        &-19{
            grid-row: 30/ span 3; 
            grid-column: 5/span 3;
        }
        &-20{
            grid-row:35/ span 3;
            grid-column: 1/ span 3;
        }
        &-21{
            grid-row:35/ span 3;
            grid-column: 5/ span 3;
        }
        &-22{
            grid-row:35/ span 3;
            grid-column: 9/ span 3;
        }
        &-23{
            grid-row:35/ span 3;
            grid-column: 13/ span 3;
        }
        &-24{
            grid-row:39/ span 3;
            grid-column: 1/ span 3;
        }
        &-25{
            grid-row:39/ span 3;
            grid-column: 5/ span 3;
        }
        &-26{
            grid-row:39/ span 3;
            grid-column: 9/ span 3;
        }
        &-27{
            grid-row: 44/ span 3;
            grid-column: 1/ span 3;
        }
        &-28{
            grid-row: 44/ span 3;
            grid-column: 5/ span 3;
        }
        &-29{
            grid-row: 44/ span 3;
            grid-column: 9/ span 3;
        }
        &-30{
            grid-row: 44/ span 3;
            grid-column: 13/ span 3;
        }
        &-31{
            grid-row:48/ span 3;
            grid-column: 1/ span 3;
        }
        &-32{
            grid-row:53/ span 3;
            grid-column: 1/ span 3;
        }
        &-33{
            grid-row:53/ span 3;
            grid-column: 5/ span 3;
        }
        &-34{
            grid-row:53/ span 3;
            grid-column: 9/ span 3;
        }
        &-35{
            grid-row:53/ span 3;
            grid-column: 13/ span 3;
        }
        &-36{
            grid-row:57/ span 3;
            grid-column: 1/ span 3;
        }
        &-37{
            grid-row:57/ span 3;
            grid-column: 5/ span 3;
        }
        &-38{
            grid-row:57/ span 3;
            grid-column: 9/ span 3;
        }
        &-39{
            grid-row:62/span 3;
            grid-column: 1/ span 3;

        }
        &-40{
            grid-row:67/ span 3;
            grid-column: 1/ span 3;
        }
        &-41{
            grid-row:72/ span 3;
            grid-column: 1/ span 3;
        }
        

    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    &__faculty-name{
        margin:0 3rem;  //still don't know how to place the 
    }

}